hacking>=0.12.0,!=0.13.0                               # Apache Software License

pytest>=2.7                                            # MIT
# py.test plugin for measuring coverage.
pytest-cov>=2.2.1                                      # MIT
# py.test plugin for generating HTML reports
pytest-html>=1.10.0                                    # Mozilla Public License 2.0 (MPL 2.0)
# py.test xdist plugin for distributed testing and loop-on-failing modes
pytest-xdist                                           # MIT

fixtures
mock
testtools